[Unit]
Description=Add/drop RS instance from repmgr cluster
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=ubuntu
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/addinstance.sh 
ExecStop=/usr/local/bin/dropinstance.sh

[Install]
WantedBy=multi-user.target
